
#officeProfile {
  text-align: center;
  font-size: 21px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 70%;
  margin-left: 135px;
  margin-top: 35px;
}

.form-group {
  margin: 0px;
  text-align: center;
}

.staff-container {
  text-align: center;

}
.colour-title {
  padding: 5px;
  text-align: center;
}

.form-control {
  margin: 0.5rem;
  padding: 1rem;
  width: 340px;
  border: none;
  border-radius: 3px;
}

button {
  width: 232px;
  margin: 1rem;
  height: 2.5rem;
  background: #489DDA;
  color: white;
  border:none;
  border-radius: 20px;
}
button:disabled {
  background: #ccc;
  cursor:not-allowed;
}
.colour-scheme {
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.colour-row-2 {
  display: flex;
  margin:20px;
  justify-content: center;
}
.dot{
  margin-left:50px;
  height: 25px;
  width: 25px;
  border-radius: 13px;
}

.dot:hover{
  cursor: pointer;
}

.active {
  border: 2px solid black;
}

.colour-1 {
  background-color: #FFBE0B;
}

.colour-2 {
  background-color: #FF9B71;
}

.colour-3 {
  background-color: #FB5607;
}
.colour-4 {
  background-color: #97512C;
}
.colour-5 {
  background-color:  #DBBADD;
}
.colour-6 {
  background-color: #FF006E;
}
.colour-7 {
  background-color: #A9F0D1;
}
.colour-8 {
  background-color: #00B402;
}
.colour-9 {
  background-color: #489DDA;
}
.colour-10 {
  background-color: #0072E8;
}
.colour-11 {
  background-color: #8338EC;
}

.colour-banner {
  width: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.colour-banner-FFBE0B {
  background-color: #FFBE0B;
}

.colour-banner-FF9B71 {
  background-color: #FF9B71;
}

.colour-banner-FB5607 {
  background-color: #FB5607;
}
.colour-banner-97512C {
  background-color: #97512C;
}
.colour-banner-DBBADD {
  background-color:  #DBBADD;
}
.colour-banner-FF006E {
  background-color: #FF006E;
}
.colour-banner-A9F0D1 {
  background-color: #A9F0D1;
}
.colour-banner-00B402 {
  background-color: #00B402;
}
.colour-banner-489DDA {
  background-color: #489DDA;
}
.colour-banner-0072E8 {
  background-color: #0072E8;
}
.colour-banner-8338EC {
  background-color: #8338EC;
}

form {
  align-items: center;
}

button {
  background: #489DDA;
  cursor: pointer;
}
