<form formGroup="officeProfileForm" (ngSubmit)="onSubmit()">
  <h1 id="officeProfile">Add an office</h1>
  <div class="form-group">
    <label for="">Company Name :</label>
    <input type="text" class="form-control" formControlName="companyName" name="" value="">
  </div>
  <div class="form-group">
    <label for="">Phone number :</label>
    <input type="text" class="form-control" formControlName="phoneNumber"name="" value="">
  </div>
  <div class="form-group">
    <label for="">Company email :</label>
    <input type="text" class="form-control" formControlName="email" name="" value="">
  </div>
  <div class="form-group">
    <label for="">Office Capacity :</label>
    <input type="text" class="form-control" formControlName="officeCapacity" name="" value="">
  </div>
  <div class="form-group">
    <label for="">Address :</label>
    <input type="text" class="form-control" formControlName="address"name="" value="">
  </div>
  <div class="form-group">
    <label for="">staff</label>
    <input type="text" class="form-control" formControlName="staff"name="" value="">
  </div>

</form>
