<form [formGroup]="userForm"  (ngSubmit)="onSubmit()">
  <h1 id="officeProfile">New user</h1>
  <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" formControlName="firstName" name="firstName" ngModel placeholder="First name" value="">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" formControlName="lastName" name="lastName" ngModel placeholder="Last name" value="">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" formControlName="avatar" name="avatar" ngModel placeholder="Avatar" value="">
  </div>
  
  <div class="form-group ">
    <button class="" [disabled]="!userForm.valid" (click)="onSubmit()">ADD USER</button>
</div>
</form>
