<div class="content">
  <form [formGroup]="userForm">
    <h3 id="officeProfile">Add staff</h3>
    <div class="form-group">
      <label for=""></label>
      <input
        type="text"
        class="form-control"
        formControlName="firstName"
        name="firstName"
        placeholder="First name"
        value=""
      />
    </div>
    <div class="form-group">
      <label for=""></label>
      <input
        type="text"
        class="form-control"
        formControlName="lastName"
        name="lastName"
        placeholder="Last name"
        value=""
      />
    </div>
    <div class="form-group">
      <label for=""></label>
      <input
        type="text"
        class="form-control"
        formControlName="avatar"
        name="avatar"
        placeholder="Avatar"
        value=""
      />
    </div>

    <div class="form-group">
      <button class="" [disabled]="!userForm.valid" (click)="addUser()">
        ADD USER
      </button>
    </div>
  </form>
</div>
