<div class="color colour-banner-{{ colourString }}"></div>
<div class="container">
  <h1>Welcome to {{ office.companyName }}'s Office profile</h1>
  <div class="content">
    <app-office-room
      [companyName]="office.companyName"
      [officeCapacity]="office.officeCapacity"
      [phoneNumber]="office.phoneNumber"
      [address]="office.address"
      [colourScheme]="office.colourScheme"
      [email]="office.email"
      [officeId]="office._id"
    ></app-office-room>  
    <app-users></app-users>
  </div>
</div>
