.navBar {
  color: #484954;
  padding-left: 3rem;
  font-weight: bold;
}

.navBar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul > li {
  padding: 2rem;
  width: fit-content;
  height: 2rem;
  border-radius: 5.5px;
  cursor: pointer;
}
ul li:hover {
  background: rgb(71, 71, 70);
  color: ivory;
}

.active {
  background: rgb(71, 71, 70);
  font-weight: 600;
  color: rgb(31, 31, 39);
}
