.navBar {
  color: #484954;
  padding-left: 3rem;
}

.navBar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul > li {
  margin: 1rem;
  padding-left: 24px;
  width: 6rem;
  height: 2rem;
  border-radius: 5.5px;
  padding-top: 3px;
  cursor: pointer;
}
.navBar > li:hover {
  background: rgb(71, 71, 70);
  color: ivory;
}

.active {
  background: rgb(146, 146, 138);
  font-weight: 600;
  color: rgb(31, 31, 39);
}
