.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 1315px;
    overflow: auto;
}