<div class="container">
  <h3>{{ companyName }}</h3>
  <div class="content">
    <div>{{ staff.length }} Staff Members in Office</div>
    <hr />
    <div class="menuToggle" (click)="toggleMenu()">
      More info
      <span
        ><img [ngClass]="{'rotateClass': menuToggle}"
          src="../../../../assets/vuesax/twotone/vuesax/twotone/Vector.png"
          alt="triangle with all three sides equal"
      /></span>
    </div>
    <div *ngIf="menuToggle" class="list">
      <p><img src="../../../../assets/Phone.png"/>{{ phoneNumber }}</p>
      <p><img src="../../../../assets/Email.png"/>{{ email }}</p>
      <p>Office Capacity: {{ officeCapacity }}</p>
      <p>{{ address }}</p>
    </div>
  </div>
  <img class="pen-edit"
          src="../../../../assets/Union.png"
          alt="pen"
      />
</div>
