<div class="container">
  <div class="row">
    <div
      class="colour-banner colour-banner-{{ colourScheme }}"
      [style.background-color]="colourScheme"
    ></div>
    <div class="content">
      <div class="content-row">
        <div class="header">
          <h3>{{ companyName }}</h3>
        </div>
        <div class="staff-current-count">
          <div class="count">
            <img src="../../../../assets/people.png" alt="people" />
            <p>{{ staff.length }} Staff Members in Office</p>
          </div>
          <hr />
        </div>
        <div class="menuToggle" (click)="toggleMenu()">
          More info
          <span
            ><img
              [ngClass]="{ rotateClass: menuToggle }"
              src="../../../../assets/vuesax/twotone/vuesax/twotone/Vector.png"
              alt="triangle with all three sides equal"
          /></span>
        </div>
        <div *ngIf="menuToggle" class="list">
          <p><img src="../../../../assets/Phone.png" />{{ phoneNumber }}</p>
          <p><img src="../../../../assets/Email.png" />{{ email }}</p>
          <p>
            <img src="../../../../assets/people.png" alt="people" />Office
            Capacity: {{ officeCapacity }}

            {{ officeId }}
          </p>
          <img src="../../../../assets/local.png" alt="location" />
          <p>{{ address }}</p>
        </div>
        <div class="pen-edit" (click)="editOffice($event)">
          <img class="" src="../../../../assets/Union.png" alt="pen" />
        </div>
      </div>
    </div>
  </div>
</div>
