.container {
  width: 342px;
  height: 132px;
  top: -817px;
  left: -2747px;
  border-radius: 8px;
  background: #ffffff;
  border: solid 1px #e8f3fc;
  /* radius: 8px; */
  /* blend: Pass through; */
}

.name {
  position: static;
  width: 88px;
  height: 29px;
  left: 0px;
  top: 0px;
}
