<div class="content">
  <div class="search-field">
    <form [formGroup]="searchName">
      <div class="form-group">
        <label for="searchName">Filter users</label>
        <input type="text" class="form-control" formControlName="searchterm" />
      </div>
    </form>
  </div>

  <div class="user--container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ng-contsiner *ngFor="let staff of filteredUserList; let i = index">
        <div class="user--panel">
          <ul>
            <li>
              <input
                type="checkbox"
                [value]="staff.value"
                (change)="onCheckboxChange(staff)"
              />
              {{ staff.firstName }}
            </li>
            <li>
              {{ staff.lastName }}
            </li>
            <li>
              <img src="../../../assets/avatars/avatar{{staff.avatar}}.png" alt="">
            </li>
          </ul>
        </div>
      </ng-contsiner>
    </form>
  </div>
  <button class="btn btn-primary" type="submit" (click)="addToList()">
    Submit
  </button>
</div>

{{ theMainGuy }}
