<div class="user-container">
<div class="search-field">
  <form [formGroup]="searchName">
    <div class="form-group">
      <label for="searchName">Filter users</label>
      <input type="text" class="form-control" formControlName="searchterm" />
    </div>
  </form>
</div>

  <div *ngFor="let staff of filteredUserList; let i = index">
    <div class="user--panel">
      <ul>
        <li>
          <input type="checkbox" >
          {{ staff.firstName }}
        </li>
        <li>
          {{ staff.lastName }}
        </li>
        <li>
          {{ staff.avatar }}
        </li>
      </ul>
    </div>
  </div>
</div>
