<div class="content">
  <div class="search-field">
    <form [formGroup]="searchName">
      <div class="form-group">
        <h3>Filter users</h3>
        <input type="text" class="form-control" formControlName="searchterm" />
      </div>
    </form>
  </div>

  <div class="user-container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ng-container *ngFor="let staff of filteredUserList; let i = index">
        <div class="user-panel">
          <ul (click)="onCheckboxChange(staff)" [ngClass]="{'checked': staff?.checked }">
            <li>
              {{ staff.firstName }}
            </li>
            <li>
              {{ staff.lastName }}
            </li>
            <li>
              <img src="../../../assets/avatars/avatar{{staff.avatar}}.png" alt="">
            </li>
          </ul>
        </div>
      </ng-container>
    </form>
  </div>
  <button type="submit" (click)="submit()" [disabled]="!selectedUsers.length">
    Add selected users
  </button> 
</div>