.content{
    text-align: center;
    width: 420px;
    margin: auto;
}

.user--panel {
    width: 23rem;
    display: inline-block;

}
.user--container {
    overflow: auto;
    height: 600px;
}

.search-field {
    width: 23rem;
    display: inline-block;
}

.user--panel > ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: aliceblue;
    border-radius: 15px;
    padding:1.5rem;
} 

.user--panel > ul.checked {
    background-color: #90c5f0;
}
.user--panel > ul.checked:hover{
    background-color: #71a2ca;
}
.user--panel > ul:hover{
    cursor: pointer;
    background-color: #90bee3;
} 

li {
    list-style: none;
    justify-content:space-between;
}

