.content{
    text-align: center;
    width: 420px;
    margin: auto;
}

.user--panel {
    width: 23rem;
    display: inline-block;

}
.user--container {
    overflow: auto;
    height: 600px;
}

.search-field {
    width: 23rem;
    display: inline-block;
}

.user--panel > ul {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 15px;
    padding:1.5rem;
} 

li {
    list-style: none;
    justify-content:space-between;
}

