.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  text-align: center;
}

.form-control {
  margin: 0.5rem;
  padding: 1rem;
  width: 340px;
  border: none;
  border-radius: 3px;
}

button:disabled {
  background: #ccc;
  cursor:not-allowed;
}

