/* You can add global styles to this file, and also import other style files */

/* * {
  margin: 0;
  background: #E5E5E5;
  height: 100vh;
  padding-bottom: 10px;
} */

* {
  margin: 0px;
  /* background: #E5E5E5; */
}