/* You can add global styles to this file, and also import other style files */

/* * {
  margin: 0;
  background: #E5E5E5;
  height: 100vh;
  padding-bottom: 10px;
} */

* {
  margin: 0px;
  /* background: #E5E5E5; */
}

button {
  width: 232px;
  margin: 1rem;
  height: 2.5rem;
  background: #489DDA;
  color: white;
  border:none;
  border-radius: 20px;
}
button:disabled {
  background: #ccc;
  cursor:not-allowed;
}

button {
  background: #489DDA;
  cursor: pointer;
}